header {
  // min-height: 100vh;

  max-width: 1240px;
  min-width: 335px;
  height: 68px;
  // margin-left: 100px;
  margin: auto;
  margin-top: 40px;
  color: $text-color-base;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  ul {
    height: 34px;
    max-width: 309px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    column-gap: 57px;
  }

  li {
    height: 34px;
    list-style-type: none;
  }
  .home {
    width: 136px;
  }
  .about {
    width: 116px;
  }

  a {
    color: $text-color-base;
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
}
// .activeLink {
//   border-bottom: 2px solid $back-ground-color-base;
// }

.nav-active {
  position: relative;
  text-decoration: underline;
}
// @include mobile {

// }
@include mobile {
  header {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    ul {
      column-gap: 10px;
    }
  }
}
@include breakpoint {
  header {
    margin-left: 20px;
    margin-right: 20px;
  }
  ul {
    column-gap: 30px;
  }
}
