.details {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  @include breakpoint {
    .container_host:nth-child(2) {
      order: 3;
    }
  }
  @include mobile {
    .container_host:nth-child(2) {
      order: 3;
    }
  }
}
.container_accordion_singleCard {
  display: flex;
  flex-direction: row;
  column-gap: 76px;
  @include mobile {
    flex-direction: column;
  }
  .accordions {
    width: 582px;
    @include mobile {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  .accordion_content {
    display: flex;
    flex-direction: column;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    padding: 0;
  }
}
