.header {
  // min-height: 100vh;
  width: 1240px;
  height: 68px;
  margin-left: 100px;
  margin-top: 40px;
  color: $text-color-base;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  ul {
    height: 34px;
    width: 309px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
  }

  li {
    height: 34px;
    list-style-type: none;
  }
  .home {
    width: 136px;
    border-bottom: 2px solid transparent;
  }
  .about {
    width: 116px;
    border-bottom: 2px solid transparent;
  }
}

.activeLink {
  border-bottom: 2px solid $back-ground-color-base;
}

a {
  color: $text-color-base;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  .home {
    width: 136px;

    .about {
      width: 116px;
    }
  }
}
// .no-focus {
//   border-bottom: 3px solid transparent;
// }
