.home_banner {
  height: 100%;
  margin-top: 63px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    height: 111px;
    margin-bottom: 20px;
    margin-top: 16px;
  }
  h1 {
    max-width: 705px;
    min-width: 435px;
    font-weight: 500;
    font-size: 48px;
    color: white;
    position: absolute;
    z-index: 1;
    margin: auto;
    @include breakpoint {
      margin-bottom: 40px;
    }
    @include mobile {
      min-width: unset;
      font-size: 24px;
      padding: 0 16px;
    }
  }
}
