html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

.body {
  width: 1240px;
  height: 1095px;
}

.header {
  width: 1240px;
  height: 68px;
  margin-left: 100px;
  margin-top: 40px;
  color: #ff6060;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  height: 34px;
  width: 309px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: end;
}
.header li {
  height: 34px;
  list-style-type: none;
}
.header .home {
  width: 136px;
  border-bottom: 2px solid transparent;
}
.header .about {
  width: 116px;
  border-bottom: 2px solid transparent;
}

.activeLink {
  border-bottom: 2px solid #ff6060;
}

a {
  color: #ff6060;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}
a .home {
  width: 136px;
}
a .home .about {
  width: 116px;
}

.logos {
  width: 210px;
  height: 68px;
  position: relative;
}

.logo_k {
  width: 54.33px;
  height: 62.26px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.logo_maison {
  width: 46.04px;
  height: 53.36px;
  position: absolute;
  left: 60.22px;
  top: 14.64px;
}

.logo_porte {
  width: 5.34px;
  height: 15.75px;
  position: absolute;
  left: 91.53px;
  top: 45.69px;
}

.logo_s {
  width: 39.41px;
  height: 48px;
  position: absolute;
  left: 118.79px;
  top: 14.64px;
}

.logo_a {
  width: 40.89px;
  height: 48.17px;
  position: absolute;
  left: 169.44px;
  top: 14.45px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 142.6%;
}
.error .error-number {
  width: 597px;
  height: 263px;
  font-weight: 700;
  font-size: 288px;
}
.error .notFound {
  font-weight: 500;
  font-size: 36px;
}
.error .return {
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
}

.section {
  width: 1240px;
  height: 223px;
  margin-top: 171px;
  margin-left: 100px;
  position: relative;
}
.section h1 {
  width: 705px;
  height: 68px;
  font-weight: 500;
  font-size: 48px;
  color: white;
  position: absolute;
  top: 78px;
  left: 273px;
  margin: 0;
}
.section .IMG_home {
  border-radius: 25px;
}

.footer {
  width: 100%;
  height: 209px;
  color: white;
  background-color: black;
  position: relative;
}
.footer .footer_text {
  position: absolute;
  left: 32.15%;
  right: 32.22%;
  top: 64.11%;
  text-align: center;
}
.footer .logo--footer {
  width: 122px;
  height: 39.44px;
  color: white;
  position: absolute;
  left: 659px;
  align-items: center;
}

.gallery {
  max-width: 1240px;
  max-height: 829px;
  border-radius: 25px;
  margin: auto;
  margin-top: 43px;
  background: #f7f7f7;
}

.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
.card h2 {
  width: 300px;
  height: 52px;
  color: white;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
