.main {
  max-width: 1240px;
  // max-height: 1095px;
  margin: auto;
  // margin-left: 100px;
  // margin-right: 100px;
  @include mobile {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include breakpoint {
    margin-left: 20px;
    margin-right: 20px;
  }
}
