.logos {
  width: 210px;
  height: 68px;
  position: relative;
}

.logo_k {
  width: 54.33px;
  height: 62.26px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo_maison {
  width: 46.04px;
  height: 53.36px;
  position: absolute;
  left: 60.22px;
  top: 14.64px;
}
.logo_porte {
  width: 5.34px;
  height: 15.75px;
  position: absolute;
  left: 91.53px;
  top: 45.69px;
}
.logo_s {
  width: 39.41px;
  height: 48px;
  position: absolute;
  left: 118.79px;
  top: 14.64px;
}
.logo_a {
  width: 40.89px;
  height: 48.17px;
  position: absolute;
  left: 169.44px;
  top: 14.45px;
}
