.container_stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile {
    height: 50px;
  }
  .star {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    @include mobile {
      width: 15px;
      height: 15px;
    }
  }
}
