.container_title {
  width: 80%;
  //   height: 77px;
  display: flex;
  flex-direction: column;
  // margin-top: 30px;
  .title {
    height: 51px;
    font-size: 36px;
  }
  .location {
    size: 18px;
    height: 26px;
  }
}
