.cards {
  width: 100%;
  background-color: $back-ground-color-primary;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 60px;
  padding-top: 56px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 43px;
  padding-bottom: 43px;
  .house_link {
    border-radius: 10px;
    &:hover {
      box-shadow: 2px 2px 10px $text-color-base;
    }
  }
  @include mobile {
    background-color: white;
    border-radius: 0;
    justify-content: space-around;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    .house_link {
      width: 100%;
    }
  }

  @include breakpoint {
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
    padding: 30px 11px 30px 11px;
  }
}
figure {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  margin: 0;
  @include mobile {
    width: 100%;
    height: 255px;
  }
  @include breakpoint {
    width: 335px;
    height: 255px;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  figcaption {
    width: 300px;
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    margin-left: 20px;
    @include mobile {
      bottom: 15px;
    }
  }
}
.loading {
  color: $text-color-base;
  margin: auto;
}
