.cards {
  // width: 1240px;
  width: 100%;
  // height: 100%;
  // height: 829px;
  padding-top: 56px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  margin-top: 43px;
  padding-bottom: 43px;
  background-color: $back-ground-color-primary;
  // display: grid;
  display: flex;
  flex-wrap: wrap;

  // grid-template-columns: 340px 340px 340px;
  row-gap: 50px;
  column-gap: 60px;
  // overflow: scroll;
  cursor: pointer;
  @include mobile {
    justify-content: space-around;
    background-color: white;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    .house_link {
      width: 100%;
    }
  }

  @include breakpoint {
    justify-content: space-around;
    // background-color: white;
    row-gap: 20px;
    column-gap: 20px;
    padding: 30px 11px 30px 11px;
    // margin: 0;
  }
}
figure {
  width: 340px;
  height: 340px;
  margin: 0;

  border-radius: 10px;
  position: relative;
  @include mobile {
    // width: 335px;
    width: 100%;
    height: 255px;
  }
  @include breakpoint {
    width: 335px;
    height: 255px;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
  }
  figcaption {
    width: 300px;
    // height: 52px;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    @include mobile {
      bottom: 15px;
    }
  }
}
