$text-color-base: #ff6060;
$text-color-primary: white;

$back-ground-color-base: #ff6060;
$back-ground-color-primary: #f7f7f7;
$back-ground-color-secondery: black;
$back-ground-color-tertiary: #c4c4c4;
