ul {
  height: 34px;
  width: 309px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: end;
  list-style-type: none;

  a {
    color: $text-color-base;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    height: 34px;
  }
  .home {
    width: 136px;
  }
  .about {
    width: 116px;
  }
}

.activeLink {
  border-bottom: 2px solid $back-ground-color-base;
}
