.container_host {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  margin-bottom: 30px;
  .name {
    font-size: 18px;
    width: 93px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include mobile {
    font-size: 12px;
    margin: 0;
  }
}
.circle {
  width: 64px;
  height: 64px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: $back-ground-color-tertiary;
  @include mobile {
    width: 32px;
    height: 32px;
  }
}
