footer {
  width: 100%;
  height: 209px;
  color: $text-color-primary;
  background-color: $back-ground-color-secondery;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 46px;
  @include mobile {
    .footer_text {
      font-size: 12px;
    }
  }
}
