html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  font-weight: 400;
  color: $text-color-base;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mobile {
    font-size: 12px;
  }
}

code {
  font-family: 'Montserrat', sans-serif;
}
