.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.error-number {
  font-weight: 700;
  font-size: 288px;
}
.notFound {
  font-weight: 500;
  font-size: 36px;
}
.return {
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
}
